<strong>Olá, {{ deliveryman  }}</strong>
<p>Houve um cancelamento de entrega no {{date}}, confira os detalhes:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <strong>Endereço:</strong> <br />
  <strong>Cidade: </strong> {{ city }}, - {{ uf }} <br />
  <strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
  <strong>CEP: </strong> {{ zip_code}} <br /> <br />
  <small>
    Qualquer duvida entre em contato com a nossa equipe.
  </small>
</p>
