<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega cadastrada no {{date}}, e aguardando retirada:</p>
<p>Detalhes da entrega:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <strong>Endereço:</strong> <br />
  <strong>Cidade: </strong> {{ city }}, - {{ uf }} <br />
  <strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
  <strong>CEP: </strong> {{ zip_code}} <br /> <br />
  <small>
    Horário de retirada das 08:00 até as 18:00.
    Qualquer duvida entre em contato com a nossa equipe.
  </small>
</p>
